body {
    margin: 0;
    scroll-behavior: smooth;
    color: #72868b;
}

header {
    position: fixed;
    gap: 40px;
    top: 0;
    width: 100%;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo-btn {
    text-decoration: none; 
    color: #ffffff; 
    font-family: 'Anton', sans-serif; 
    font-size: 1.3em; 
    font-weight: bold; 
    cursor: pointer; 
    transition: color 0.5s; 
}

.logo-btn:hover {
    color: #0e3c5e; 
}

header nav {
    font-family: 'Anton', sans-serif;
    align-items: center;
    display: flex;
    gap: 0px; 

}

header div {  
    font-family: 'Anton', sans-serif;
    margin-left: 160px;
    font-size: 3.4em;
    font-weight: bold;
    color: #012846; 
}

header nav a {
    margin-right: 100px;
    letter-spacing: -0.8px;
    text-decoration: none;
    color: #294a64;
    font-size: 1.6em;
    padding: 0px 0px;
    text-align: center;
    font-weight: bold; 
}

header nav a.btn-agende {
    padding: 24px 30px;
    background-color: #0e3c5e;
    border: none;
    font-weight: bold; 
    border-radius: 60px;
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

header nav a.btn-agende:hover {
    background-color: rgba(3, 31, 63, 0.897);
}

.hero {
    height: 100vh;
    background-color: #72868b;
    filter: brightness(100%);
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}

.caixa-branca {
    position: absolute;
    top: 200px;
    left: 1200px; 
    width: 430px; 
    height: 700px; 
    background-color: #ffffff; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.hero h1 {
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-size: 5.3em;
    position: absolute;
    right: 1300px;
    top: 250px;
    margin: 0;
    color: #012846;
}

.hero p {
    text-align: justify;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-size: 1.7em;
    margin-bottom: 130px;
    margin-right: 1050px;
    color: #1e374b;
}



footer {
    background-color: #72868b;
    color: #012846;
    text-align: center;
    padding: 50px 20px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

footer h2 {
    font-size: 70px;
    margin-top: 15px;
}

footer p {
    font-size: 18px;
    margin-bottom: 21px;
}

.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.email-container input {
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    background-color: #fff;
    padding: 20px 20px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
}

.email-container button {
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    background-color: #5b747c;
    color: rgb(255, 255, 255);
    border: none;
    padding: 25px 30px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.email-container button:hover {
    background-color: #394e55;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    filter: brightness(0.5); 
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.3);
    filter: brightness(1.0);
}